{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Zaloguj się</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Lub
      <a href="{% url 'register' %}" class="font-medium text-coffee-600 hover:text-coffee-500">załóż nowe konto</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 border border-gray-100">
      <form class="space-y-6" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
          <div class="mt-1">
            {{ field|add_class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-coffee-600 sm:text-sm sm:leading-6" }}
          </div>
          {% if field.help_text %}
          <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
          {% endif %}
          {% if field.errors %}
          <div class="mt-2 text-sm text-red-600">
            {{ field.errors }}
          </div>
          {% endif %}
        </div>
        {% endfor %}

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-coffee-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-coffee-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-coffee-600">
            Zaloguj się
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
